/* #body{
  background-color: aliceblue;
  width: 1300px;
  height: 100%;
} */

.navLink a {
  color:black;
  text-decoration: none;
  /* background-color: #ecc06e; */
}

.navLink a:hover {
  color:black;
  text-decoration: none;
}

/* #root{
  margin-top: 65px;
  padding-top: 60px;
} */
