* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper {
    min-height: auto;
    padding-bottom: 400px;
    background-color: #e6e6e6;
    /* margin-top: 36px; */
    padding-top: 60px;
    /* background: red; */
}

.error-message {
    color: #ff0000;
    padding: .5em .2em;
    height: 1em;
    position: relative;
    font-size: .8em;
}