/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    color: #6dcf6d
} */

.wrapper {
    /* min-height: auto; */
    padding-bottom: 300px;
    background-color: #dfdbdb;
    margin-top: 36px;
    padding-top: 20px;
    font-family: serif;
    /* background: red; */
    /* min-width: auto; */
    display: block;
}

.error-message {
    color: #ff0000;
    padding: .5em .2em;
    height: 1em;
    position: relative;
    font-size: .8em;
}

.registration-body {
    /* background: rgb(255, 255, 255); */
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgb(30, 54, 59) 0%,
      rgb(93, 93, 116) 100%
    );
    position: absolute;
    height: 100%;
    width: 100%;
    mix-blend-mode: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
}

.form-body {
    background: aliceblue;
}

